#editor-container, #editor-container tr, #editor-container td 
{ 
  height: 100%; 
  margin: 0; 
  padding: 5px; 
  border: 0;
  /* background: #DDD7CD; */
  }
td { vertical-align: top; }
#editor-anchor { display: block; height: 0px; }
#editor { width: 100%; }
#evaluatorSWF, #evaluator-container { width: 465px; height: 465px; }
#resetBtn { display: block; text-align: center; }

a.closeBtn { 
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  background: #252525;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

a.closeBtn:link, a.closeBtn:visited { color: #ffffff; }